
<form>
  <input [formControl]="nomeControl" placeholder="Nome" />
  <div *ngIf="nomeControl.invalid && nomeControl.touched">
    <p *ngIf="nomeControl.errors?.['required']" class="red">
      il campo nome è obbligatorio
    </p>
    <p *ngIf="nomeControl.errors?.['minlength']" class="red">
      Il campo deve esser di minimo 3 caratteri
    </p>
  </div>

<label for="email">Email:</label>
<input type="email" [formControl]="emailControl" placeholder="Email" class="emailInput" />
<div *ngIf="emailControl.invalid && emailControl.touched">
    <p *ngIf="emailControl.errors?.['required']" class="red">
      il campo email è obbligatorio
    </p>
    <p *ngIf="emailControl.errors?.['email']" class="red">
      L'email non è valida
    </p>
  </div>

  <p>Il nome inserito è {{ nomeControl.value }}</p>
  <p>L'email inserita è {{ emailControl.value }}</p>
</form>
